@import "tailwindcss";
@plugin "daisyui";

.input:focus,
.select:focus,
.textarea:focus,
.button:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: inherit !important;
}